# Ignore specific files
20NewsGroup.json
BBC.csv
Trump'sTweets.csv
TrumpWords.txt
embed.npy
filtered_corpus.txt
myWords.txt
word_intrusion.json
words.pkl
*.pt

# Ignore specific directories
/BBC/
__pycache__/
glove.6B/
mallet/
spectralnet/
WordsGraph/distributions/
WordsGraph/helper/
WordsGraph/IntrusionResults/
WordsGraph/priors/
WordsGraph/Word2VecModel
WordsGraph/Mallet/
WordsGraph/Gibbs/
WordsGraph/Uri/




