# Ignore specific files
20NewsGroup.json
BBC.csv
Trump'sTweets.csv
TrumpWords.txt
embed.npy
filtered_corpus.txt
myWords.txt
word_intrusion.json
words.pkl
*.pt

# Ignore specific directories
/BBC/
__pycache__/
glove.6B/
mallet/
spectralnet/
/WordsGraph/*/
/helper/
/Distributions-Results/
/Train_Bert_Model/
/scripts/
/model_eval_results/



